#####################################
#   BEGIN PROJECT LOGGED HTACCESS   #
#   PROJECT LOGGED v2.x             #
#####################################
Options -MultiViews
RewriteEngine on
RewriteRule ^auth/assets/(.*)?$ /sys-auth/assets/$1 [NC,L]
RewriteRule ^auth/api/(.*)?$ /sys-auth/api/$1.php [NC,L]
RewriteRule ^auth/(.*)?$ /sys-auth/routes/$1.php [NC,L]
#####################################
#   END PROJECT LOGGED HTACCESS     #
#   PROJECT LOGGED v2.x             #
#####################################